.container{
    width: 10%;
    position: relative;
    margin: 0 auto;
}

.box{
    background: #000;
    width: 50px;
    margin: 5%;
    height: 50px;
    position: relative;
    float: left;
}
@media (min-width: 768px) 
{
    .box{
        width: 15%;
        height: 50px;
        color: red;
    }
    .container{
        width: 768px;
    }
}
@media (min-width: 1279px) 
{
    .box{
        width: 15%;
        height: 50px;
        margin: 2%;
        color: blue;
    }
    .container{
        width: 1200px;
    }
}
@media (min-width: 1280px) 
{
    .box{
        width: 15%;
        height: 100px;
        margin: 2%;
    }
    .container{
        width: 1200px;
    }
}
