html{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
/*
div{
    width: 200px;
    height: 200px;
    margin: 50px;
    border: 1px solid black;
}
*/