.body {
    background: url("../img/pattern.png") repeat;
}


.container {
    background: url("../img/pattern.png") repeat;
    padding: 28px 0 0 0;
    width: 100%;
    position: relative;
}
.card-body{
    background: url("../img/pattern.png") repeat;
}

.col-md-4, .col-md-8{
    background: url("../img/pattern.png") repeat;
}