.head-contact{
    font-size: 13px;
    display: flex;
    float: right;
}
.head-contact span{
    color: #8c8c8c;
}
.head-contact a{
    color: #dc6511;
    text-decoration: none;
    margin-left: 1px;
}