<div class="container">
    <div class="row">
        <div class="form">
            <div class="col-6">
                <div class="mb-3">
                    <label for="user" class="form-label">Дата</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="date">
                    <label for="user" class="form-label">Заголовок</label>
                    <input type="text" class="form-control" id="user" [(ngModel)]="user">
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Заметка(текст)</label>
                    <textarea class="form-control" id="text" [(ngModel)]="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" (click)="addPost()">Добавить</button>
                <button type="submit" class="btn btn-primary" (click)="delPost(task)">Удалить</button>
            </div>
        </div>
        <div class="twits">
            <div class="col-6">
                <app-twit [twits]="posts"></app-twit>
                <ul id="list">
                    <li *ngFor="let task of posts; let i = index">
                        {{task}}
                        
                        <span class="close" (click)="delPost(task)">×</span>
                    </li>
                </ul>    
            </div>
        </div>
    </div>
</div>