
div{
    position: relative;
    float: left;
    text-align: center;
    line-height: 100px;
    color: rgb(24, 26, 145);
    font-size: 30px;
}
.main{
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
}
.L1, .L2
{
    width: 100px;
    height: 100px;
    background: #000;
}
.L3{
    width: 200px;
    height: 100px;
    background: rgb(73, 4, 4);
}
.menu1, .menu2{
    width: 100px;
}
.posts{
    width: 200px;
}
.post{
    width: 100px;
    height: 100px;
    background: #3734ff;    
}
.menu1-head{
    height: 200px;
    width: 100px;
    background: rgb(237, 100, 134);
    line-height: 200px;
}
.menu2-foot{
    width: 100px;
    height: 100px;
    background: rgb(0, 255, 136);
}
.menu2{
    line-height: 300px;
    height: 300px;
    background: rgb(100, 0, 13);
}